.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 300px;
    height: 100%;
}

.flex-center {
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

.left.collapsed {
    transform: translateX(-295px);
}

.right.collapsed {
    transform: translateX(295px);
}

.rounded-rect {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 50px -25px black;
}

.sidebar-content {
    position: absolute;
    top: 1.75%;
    width: 95%;
    height: 50%;
    left: 10px;
}

.left-sidebar-content {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.sidebar-content-top{
    position: absolute;
    top: 0px;
    background-color: #355E3B;
    left: 0px;
    right: 0px;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    white-space: break-word;
    text-align: center;
}

.right-sidebar-body {
    /* flex-direction: row;
    align-items: flex-start;
    align-content: flex-start; */
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}