#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-panel {
    position: absolute;
    bottom: 16px;
    right: 6px;
  font-family: sans-serif;
  padding: 5px;
  width: 425px;
  border: 2px solid black;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
}

img {
  width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fs-logo{
    position: fixed;
    left: 7.5px;
    top: 7.5px;
    margin: 0;
    padding: 0;
    width: 7.0%;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 300px;
  border-radius: 20px;
  
}

.mapboxgl-popup-content h2 {
  text-align: center;
  background: #355E3B;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}