#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.info-panel {
  position: absolute;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  width: auto;
  border: 2px solid black;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0
}

img {
  width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#popup{
  max-width: 225px;
}

#fs-logo{
    position: fixed;
    left: 7.5px;
    top: 7.5px;
    margin: 0;
    padding: 0;
    width: 7.0%;
}