body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fs-logo {
    display: flex;
    justify-content: center;
    flex-shrink: 4;
}
ul {
  list-style: none;
  text-align: left;
  padding-left: 2.5em;
}

li {
  padding-left: 1.5em;
  text-indent: -1em;
  font-size: 1.2em;
  position: relative;
  cursor: pointer;
}

li:hover {
  background-color: #9dc8a4;
  transition-timing-function: ease;
  transition-duration: .5s;
}

h1 {
  font-size: 3.0em;
  justify-content: center;
}

h2 {
  font-size: 2.0em;
}